body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(to bottom, #83e9fe, #5EA4A9);
     */
    background: wheat;
  }
  
.mainDiv {
    display: flex;
}

  .forecast ul li {
    display: flex;
    list-style-type: none;
    font-size: small;
    justify-content: space-between; 
  }
  
  .forecast ul{
    padding: 0%;
  }
  .clima-container span a {
    text-decoration: none;
    color: #ffffff;
  }

  .clima-container {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    margin: 12px;
    background: linear-gradient(#98ded4, #85b5ca);
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    height: 500px;  
    width: 300px;
  }
  
  .nameLocation {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
  }
  
  .weather-icon {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .mainTemperature {
    font-size: 100px;
    margin-bottom: 10px;
  }

  .temperature {
    font-size: 10px;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .forecast {
    display: flex;
    flex-direction: column;
  }
  
  .day {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .more {
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
  }

  .feels_like{
    font-size: 19px;
  }
  